In [32]:
# Dependencies
from splinter import Browser
from splinter.exceptions import ElementDoesNotExist
from bs4 import BeautifulSoup
from selenium import webdriver
import pandas as pd
import time

In [2]:
executable_path ={'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
url='https://mars.nasa.gov/news/'

In [4]:
browser.visit(url)

In [5]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

### NASA Mars News

In [6]:
#getting the latest news title
news_title=soup.find('ul',class_='item_list').find('li',class_='slide')\
.find('div',class_='content_title').find('a').get_text()

print(news_title)

Drilling Success: Curiosity is Collecting Mars Rocks

In [7]:
#latet news paragraph
news_p= soup.find('ul', class_='item_list').find('li',class_='slide').find('div',class_='article_teaser_body').get_text()
print(news_p)

Engineers will now test delivering samples to instruments inside NASA's Curiosity Mars rover.

### JPL Mars Space Images - Featured Image

In [26]:
image_url='https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'

In [27]:
browser.visit(image_url)

In [28]:
browser.find_by_css('div[class="default floating_text_area ms-layer"]').find_by_css('footer')\
.find_by_css('a[class="button fancybox"]').click()

In [29]:
browser.find_by_css('div[id="fancybox-lock"]').find_by_css('div[class="buttons"]')\
.find_by_css('a[class="button"]').click()

In [30]:
featured_image_url = browser.find_by_css('div[id="page"]').find_by_css('section[class="content_page module"]')\
.find_by_css('figure[class="lede"]').find_by_css('a')['href']

In [31]:
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA18087_hires.jpg

### Mars Weather

In [79]:
weather_url='https://twitter.com/marswxreport?lang=en'

In [80]:
browser.visit(weather_url)

In [81]:
weather_html = browser.html
soup = BeautifulSoup(weather_html, 'html.parser')

In [83]:
all_weather_tweets= soup.find_all('li', class_="js-stream-item stream-item stream-item ")

In [ ]:
weather_features='Sol'and 'high'and'low'and'pressure'

In [85]:
for tweets in all_weather_tweets:
    if weather_features in tweets.find('div', class_='js-tweet-text-container').find('p').text:
        mars_weather= tweets.find('div', class_='js-tweet-text-container').find('p').text
        break

In [86]:
 print(mars_weather)

Sol 2056 (May 19, 2018), Sunny, high 5C/41F, low -74C/-101F, pressure at 7.40 hPa, daylight 05:20-17:20

### Mars Facts

In [22]:
url = 'http://space-facts.com/mars/'
table= pd.read_html(url)
print(table)
type(table)

[                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers]

list

In [23]:
df=table[0]
df.columns = ['Parameter', 'Value']
df

              Parameter                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [24]:
#setting index
df = df.set_index('Parameter')
df

                                              Value
Parameter
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [25]:
#convert the table to html
html_table = df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Value</th>\n    </tr>\n    <tr>\n      <th>Parameter</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

### Mars Hemisperes

In [63]:
hemispere_url='https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'

In [64]:
browser.visit(hemispere_url)

In [65]:
hemispere_html = browser.html
soup = BeautifulSoup(hemispere_html, 'html.parser')

In [66]:
hemispheres = soup.find('div', class_='collapsible results').find_all('div', class_='item')

In [60]:
hemisphere_image_urls = []
for i in range(len(hemispheres)):
    title = hemispheres[i].find('div', class_="description").find('h3').text
    browser.find_by_css('div[class="collapsible results"]').find_by_css('div[class="item"]')[i]\
    .find_by_css('div[class="description"]').find_by_css('a').click()
    for img in browser.find_by_css('div[class="downloads"]').find_by_css('a'):
        if ('Original' in img.text):
            img_url = img['href']

    browser.click_link_by_partial_text('Back')
    dic = {'title': title, 'img_url': img_url}
    hemisphere_image_urls.append(dic)
    time.sleep(3)
    print(title)
    print(img_url)

Cerberus Hemisphere Enhanced
http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif
Schiaparelli Hemisphere Enhanced
http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif
Syrtis Major Hemisphere Enhanced
http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif
Valles Marineris Hemisphere Enhanced
http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif